#website-intro {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 100vh;
    background: var(--off-main-clr);
    animation: hey 0.7s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    box-shadow: 3px 10px 10px black;
}

@keyframes hey {
    0% {
        height: 100vh;
    }
    100% {
        height: 0;
    }
}

#website-intro #website-intro-logo {
    width: 20vw;
    transition: 0.2s;
    animation: fadein 2.5s;
    animation-fill-mode: forwards;
}

#website-intro #website-intro-logo-dark {
    display: none;
    width: 20vw;
    transition: 0.2s;
    animation: fadein 2.5s;
    animation-fill-mode: forwards;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


/* ============================== HEADER ============================== */

header {
    height: 1000px;
    position: relative;
    user-select: none;
}

header::before {
    content: '';
    height: 1000px;
    position: absolute;
    width: 95vw;
    top: 0;
    right: 5vw;
    z-index: -1;
    background: var(--main-clr);
    border-bottom-right-radius: 150px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.nav {
    margin-right: 8vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    height: 100%;
}

.choose-theme {
    font-size: 1rem;
    padding: 20px;
    padding-top: 30px;
    background-color: var(--off-main-clr);
    position: absolute;
    top: 70px;
    left: 17px;
    z-index: 3;
    box-shadow: black 0px 5px 25px;
}

.choose-theme::before {
    content: "";
    position: absolute;
    left: 10px;
    top: -25px;
    transform: rotate(180deg);
    border: 13px solid;
    border-color: var(--off-main-clr) #0000 #0000 #0000;
}

.choose-theme ion-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    fill: var(--sec-clr);
}

.choose-theme ion-icon:hover {
    cursor: pointer;
}


/* ===== NAV HEADER ===== */

.nav-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    height: 80px;
    width: 100%;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container .sidebar-button {
    font-size: 2rem;
    margin-left: 1.5rem;
}

.logo-container .logo {
    height: 40px;
    width: 180px;
    display: flex;
    align-items: center;
}

.logo-container .logo:hover {
    cursor: pointer;
}

.website-logo-dark {
    display: none;
}

.nav-items-div {
    display: flex;
    flex-grow: 1;
}

.nav-list {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.nav-list .item {
    margin: 0 20px;
    padding: 5px 20px;
    font-size: 15px;
    list-style: none;
}

.nav-list .item>a {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    border-bottom: 3px solid transparent;
}

.nav-list .item>a:hover {
    padding-bottom: 5px;
    border-bottom: 3px solid var(--sec-clr);
}

.get-started {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    gap: 15px;
    padding: 10px 15px;
    height: 50px;
    width: 220px;
    font-size: 100%;
    color: var(--main-clr);
    border-radius: 5px;
    background-color: var(--off-sec-clr);
    transition: 0.3s;
    white-space: nowrap;
}

.get-started ion-icon {
    width: 18px;
    color: var(--main-clr);
}

.get-started:hover {
    color: var(--main-clr);
    background-color: var(--sec-clr);
    box-shadow: var(--sec-clr) 0px 0px 8px;
    transition: 0.3s;
}


/* ===== NAV CONTENT ===== */

.content {
    padding: 30px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 100%;
    gap: 3rem;
}

.content-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    width: 50%;
    height: 100%;
}

.content-text>img {
    width: 100%;
}

.content-text .welcome-img-dark {
    display: none;
}

.content-text p {
    position: relative;
    padding: 20px 0;
    margin: 18px 0 0 18px;
    font-size: 3vw;
    font-family: 'Ms Madi', cursive;
}

.content-text .continue {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    gap: 15px;
    padding: 15px;
    height: 5vw;
    width: 20vw;
    font-size: 2vw;
    color: var(--main-clr);
    border-radius: 5px;
    background-color: var(--off-sec-clr);
    transition: 0.3s;
    white-space: nowrap;
}

.content-text .continue ion-icon {
    width: 2vw;
    color: var(--main-clr);
}

.content-text .continue:hover {
    color: var(--main-clr);
    background-color: var(--sec-clr);
    box-shadow: var(--sec-clr) 0px 0px 8px;
    transition: 0.3s;
}

.content-img {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-img video {
    height: 100%;
}


/* ===== NAV FOOTER ===== */

.header-social {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    gap: 20px;
    bottom: 100px;
    right: 15vw;
}

.header-social::before {
    content: '';
    width: 80vw;
    height: 1px;
    margin-right: 40px;
    background-color: var(--sec-clr);
    opacity: 0.4;
}

.header-social-item {
    margin: 0 10px;
    transition: 0.3s;
}

.header-social-item:hover {
    transform: rotate(360deg);
    transition: 0.3s;
}

.header-social-item svg {
    width: 30px;
    fill: var(--sec-clr);
}


/* ============================== MAIN ============================== */

main {
    padding: 100px 100px 0 100px;
}

main .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    margin-bottom: 150px;
}

.container .card {
    position: relative;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    gap: 4rem;
    height: 40vw;
    width: 100%;
    background-color: var(--main-clr);
    border-radius: 20px;
}


/* Gets 1st child of the element with "container" class */

.container>*:nth-child(1) {
    background-image: url(/Images/getting_started_picture__with_text2.png);
    background-repeat: no-repeat;
    background-size: 55%;
    background-position: bottom left -40px;
    height: 37vw;
    box-shadow: rgba(255, 84, 4, 0.5) 0px 0px 70px;
}

.container>*:nth-child(1) video {
    border: 2px rgb(255, 84, 4) solid;
}


/* Gets 2nd child of the element with "container" class */

.container>*:nth-child(2) {
    background-image: url(/Images/just_one_click_picture__with_text2.png);
    background-repeat: no-repeat;
    background-size: 57%;
    background-position: bottom right -60px;
    height: 37vw;
    box-shadow: rgba(0, 197, 253, 0.5) 0px 0px 70px;
}

.container>*:nth-child(2) video {
    border: 2px rgb(0, 197, 253) solid;
}


/* Gets 3rd child of the element with "container" class */

.container>*:nth-child(3) {
    background-image: url(/Images/no_more_problems__with_text2.png);
    background-repeat: no-repeat;
    background-size: 55%;
    background-position: bottom left -40px;
    height: 37vw;
    box-shadow: rgba(238, 1, 1, 0.5) 0px 0px 70px;
}

.container>*:nth-child(3) video {
    border: 2px rgb(238, 1, 1) solid;
}

.card>a {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 5%;
    width: 100%;
}

.card-filler {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    align-items: center;
}

.card-video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%
}

.card-video video {
    border-radius: 5px;
    width: 30vw;
}

.card-text-mobile {
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.card-text-mobile h1 {
    text-align: center;
    font-size: 6vw;
    font-family: "Burbank", sans-serif;
}

.card-text-mobile p {
    text-align: center;
    font-family: "Burbank", sans-serif;
    font-size: 3vw;
    font-weight: 400;
}

.card-text-mobile a {
    padding: 2vw 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    margin-top: 20px;
    border: 2px var(--sec-clr) solid;
    border-radius: 5px;
    transition: 0.3s;
    font-family: "Burbank", sans-serif;
}

.card-text-mobile a:hover {
    background-color: var(--sec-clr);
    color: var(--main-clr);
    transition: 0.3s;
}

@media screen and (max-width: 1000px) {
    .nav-items-div {
        display: none;
    }
    .nav-header {
        justify-content: space-between;
    }
    .get-started {
        width: 220px;
    }
    .sidebar-nav {
        display: block;
        padding: 20px;
        border-bottom: 3px rgba(0, 0, 0, 0.1) solid;
    }
    .sidebar-nav-list {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .sidebar-nav-list .item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
    }
    .sidebar-nav-list .item ion-icon {
        font-size: 24px;
        color: var(--sec-clr);
    }
    .sidebar-nav-list .item svg {
        width: 24px;
        fill: var(--sec-clr);
    }
    .sidebar-nav-list .item a {
        font-size: 1rem;
        color: var(--sec-clr);
        font-weight: 900;
        transition: 0.3s;
        padding: 5px;
        border-bottom: 3px solid transparent;
    }
    .sidebar-nav-list .item a:hover {
        border-bottom: 3px solid var(--sec-clr);
        transition: 0.3s;
    }
    .container .card {
        flex-direction: column;
        height: 60vw;
        justify-content: center;
    }
    .container>*:nth-child(1) {
        background-image: url();
    }
    .container>*:nth-child(2) {
        background-image: url();
    }
    .container>*:nth-child(3) {
        background-image: url();
    }
    .card>a {
        position: relative;
        bottom: 0;
    }
    .card-video {
        width: 100%;
    }
    .card-video img {
        width: 70%;
    }
    .card .card-text-desktop {
        display: none;
    }
    .card .card-text-mobile {
        display: flex;
    }
}

@media screen and (max-width: 800px) {
    #website-intro img {
        width: 50vw;
    }
    header {
        height: 600px;
    }
    header::before {
        height: 600px;
        border-bottom-right-radius: 80px;
    }
    .get-started {
        width: 120px;
        height: 30px;
        font-size: 10px;
        padding: 10px;
        border-radius: 3px;
    }
    .get-started img {
        width: 10%;
    }
    header .content {
        height: 70%;
        padding-left: 20px;
        padding-right: 20px;
        gap: 1rem;
    }
    .header-social {
        bottom: 50px;
        right: 40px;
    }
    .header-social::before {
        margin-right: 20px;
    }
    .header-social-item {
        margin: 0 5px;
    }
    .header-social-item svg {
        width: 20px;
    }
    main {
        padding: 150px 50px 50px 50px;
    }
    main .container {
        gap: 7rem;
        margin-bottom: 50px;
    }
    .container .card {
        justify-content: center;
        gap: 1rem;
    }
    .card>a {
        display: none;
    }
    .card-video {
        width: 100%;
    }
    .card-video img {
        width: 70%;
    }
    .card .card-text-desktop {
        display: none;
    }
    .card .card-text-mobile {
        display: flex;
    }
    .card-text-mobile>a {
        margin-top: 5px;
    }
    .logo-container {
        gap: 1rem;
    }
    .logo-container .sidebar-button {
        font-size: 1.5rem;
    }
    .logo-container .logo {
        width: 100px;
    }
    .logo-container .logo img {
        width: 100px;
    }
    .content-text .continue {
        padding: 10px;
    }
    .card img.extra-image1 {
        position: absolute;
        top: -40px;
        width: 70px;
        z-index: -1;
        left: -35px;
    }
    .card img.extra-image2 {
        position: absolute;
        bottom: -30px;
        width: 70px;
        transform: rotate(-20deg);
        left: -30px;
    }
    .card img.extra-image3 {
        position: absolute;
        bottom: 30%;
        width: 70px;
        transform: rotate(20deg);
        right: -40px;
    }
    .choose-theme {
        font-size: .5rem;
        padding: 20px;
        padding-top: 25px;
        background-color: var(--off-main-clr);
        position: absolute;
        top: 70px;
        left: 20px;
        z-index: 3;
        box-shadow: black 0px 5px 25px;
    }
    .choose-theme ion-icon {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: .75rem;
        fill: var(--sec-clr);
    }
}

@media (prefers-color-scheme: dark) {
     :root {
        color-scheme: dark;
        --main-clr: #0B090A;
        --off-main-clr: #121011;
        --sec-clr: white;
        --off-sec-clr: #d3d3d3;
    }
    .website-logo-dark {
        display: none;
    }
    .website-logo-light {
        display: block;
    }
    #website-intro #website-intro-logo {
        display: block;
    }
    #website-intro #website-intro-logo-dark {
        display: none;
    }
    .content-text .welcome-img {
        display: block;
    }
    .content-text .welcome-img-dark {
        display: none;
    }
    .color-theme .light-mode {
        display: block;
    }
    .color-theme .dark-mode {
        display: none;
    }
    .container>*:nth-child(1) {
        box-shadow: rgba(255, 84, 4, 0.25) 0px 0px 70px;
    }
    .container>*:nth-child(2) {
        box-shadow: rgba(0, 197, 253, 0.25) 0px 0px 70px;
    }
    .container>*:nth-child(3) {
        box-shadow: rgba(238, 1, 1, 0.25) 0px 0px 70px;
    }
}

@media (prefers-color-scheme: light) {
     :root {
        color-scheme: light;
        --main-clr: #F4F6F5;
        --off-main-clr: #EDEFEE;
        --sec-clr: black;
        --off-sec-clr: #2C2C2C;
    }
    .website-logo-dark {
        display: block;
    }
    .website-logo-light {
        display: none;
    }
    #website-intro #website-intro-logo {
        display: none;
    }
    #website-intro #website-intro-logo-dark {
        display: block;
    }
    .content-text .welcome-img {
        display: none;
    }
    .content-text .welcome-img-dark {
        display: block;
    }
    .color-theme .light-mode {
        display: none;
    }
    .color-theme .dark-mode {
        display: block;
    }
    .container>*:nth-child(1) {
        box-shadow: rgba(255, 84, 4, 0.5) 0px 0px 70px;
    }
    .container>*:nth-child(2) {
        box-shadow: rgba(0, 197, 253, 0.5) 0px 0px 70px;
    }
    .container>*:nth-child(3) {
        box-shadow: rgba(238, 1, 1, 0.5) 0px 0px 70px;
    }
}