/* ============================== BASE ============================== */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');
@font-face {
    font-family: 'alarm_clock';
    src: url('../Fonts/alarm_clock-webfont.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Burbank';
    src: url('../Fonts/BurbankBigRegular-Black.woff2');
    font-weight: 900;
    font-style: normal;
}

:root {
    font-size: 16px;
    --main-clr: #0B090A;
    --off-main-clr: #121011;
    --sec-clr: white;
    --off-sec-clr: #d3d3d3;
    --settings-clr: #09123C;
    --settings-item-clr: #2A2E55;
    --settings-font-clr: #97DCFE;
    --island-bg-clr: #106DDD;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    color: white;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow: overlay;
    background-color: var(--off-main-clr);
}

a {
    color: var(--off-sec-clr);
    text-decoration: none;
    transition: 0.2s;
}

a:hover {
    cursor: pointer;
    color: var(--sec-clr);
    transition: 0.2s;
}

li {
    list-style: none;
}


/* ========== WEBSITE ========== */

::-webkit-scrollbar {
    width: 10px;
}

 ::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(5, 5, 5, 0.7);
    transition: 0.2s;
    border-radius: 100vw;
}

 ::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 0, 0);
    transition: 0.2s;
}

::-webkit-scrollbar-button {
    display: none;
}

#preloader {
    width: 100%;
    height: 100vh;
    background: var(--off-main-clr);
    text-align: center;
    z-index: 100;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    transition: 2s;
}

#website-intro {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 100vh;
    background: var(--off-main-clr);
    animation: hey 1.3s;
    animation-delay: 3.3s;
    animation-fill-mode: forwards;
    box-shadow: 3px 10px 10px black;
}

@keyframes hey {
    0% {
        height: 100vh;
    }
    100% {
        height: 0;
    }
}

#website-intro img {
    width: 20vw;
    transition: 0.2s;
    animation: fadein 3.8s;
    animation-fill-mode: forwards;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


/* ============================== HEADER ============================== */

header {
    height: 1000px;
}

header::before {
    content: '';
    height: 1000px;
    position: absolute;
    width: 95vw;
    top: 0;
    right: 5vw;
    z-index: -1;
    background: var(--main-clr);
    border-bottom-right-radius: 150px;
}

.nav {
    margin-right: 8vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    height: 100%;
}


/* ===== NAV HEADER ===== */

.nav-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    height: 80px;
    width: 100%;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container .sidebar-button {
    font-size: 2rem;
    margin-left: 1.5rem;
}

.logo-container .logo {
    height: 40px;
    width: 180px;
    display: flex;
    align-items: center;
}

.logo-container .logo:hover {
    cursor: pointer;
}

.nav-items-div {
    display: flex;
    width: 100%;
}

.nav-list {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-grow: 1;
}

.nav-list .item {
    margin: 0 20px;
    padding: 5px 20px;
    font-size: 15px;
    list-style: none;
}

.nav-list .item>a {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    border-bottom: 3px solid transparent;
}

.nav-list .item>a:hover {
    padding-bottom: 5px;
    border-bottom: 3px solid white;
}

.get-started {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    gap: 15px;
    padding: 15px;
    height: 50px;
    width: 250px;
    font-size: 100%;
    color: var(--main-clr);
    border-radius: 5px;
    background-color: var(--off-sec-clr);
    transition: 0.3s;
    white-space: nowrap;
}

.get-started img {
    width: 18px;
}

.get-started:hover {
    color: var(--main-clr);
    background-color: var(--sec-clr);
    box-shadow: rgba(255, 255, 255, 1) 0px 0px 8px;
    transition: 0.3s;
}


/* ===== NAV CONTENT ===== */

.content {
    padding: 30px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 100%;
    gap: 3rem;
}

.content-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    width: 50%;
    height: 100%;
}

.content-text>img {
    width: 100%;
}

.content-text p {
    position: relative;
    padding: 20px 0;
    margin: 18px 0 0 18px;
    font-size: 3vw;
    font-family: 'Ms Madi', cursive;
}

.content-text .continue {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    gap: 15px;
    padding: 15px;
    height: 5vw;
    width: 20vw;
    font-size: 2vw;
    color: var(--main-clr);
    border-radius: 5px;
    background-color: var(--off-sec-clr);
    transition: 0.3s;
    white-space: nowrap;
}

.content-text .continue img {
    width: 2vw;
}

.content-text .continue:hover {
    color: var(--main-clr);
    background-color: var(--sec-clr);
    box-shadow: rgba(255, 255, 255, 1) 0px 0px 8px;
    transition: 0.3s;
}

.content-img {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-img video {
    height: 100%;
}


/* ===== NAV FOOTER ===== */

.header-social {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    gap: 20px;
    bottom: 100px;
    right: 15vw;
}

.header-social::before {
    content: '';
    width: 80vw;
    height: 1px;
    margin-right: 40px;
    background-color: rgba(255, 255, 255, 0.2);
}

.header-social-item {
    margin: 0 10px;
}

.header-social-item svg {
    width: 30px;
    fill: white;
}


/* ============================== SIDEBAR ============================== */


/* ========== SIDEBAR BASE ========== */

.sidebar-button {
    cursor: pointer;
}

.sidebar {
    width: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    position: fixed;
    background-color: var(--off-main-clr);
    z-index: 5;
    overflow-x: hidden;
    transition: 0.2s;
    box-shadow: 3px 10px 10px black;
}

.lower-opacity {
    position: fixed;
    left: 0;
    width: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 4;
    transition: 0.2s;
}


/* ========== SIDEBAR HEADER ========== */

.sidebar-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    padding-left: 0;
    border-bottom: 3px rgba(0, 0, 0, 0.1) solid;
}

.sidebar-header .sidebar-button {
    font-size: 2rem;
    margin-left: 1.5rem;
}

.sidebar-header .sidebar-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}


/* ========== SIDEBAR BODY ========== */

.sidebar-nav {
    display: none;
}

.sidebar-playlists {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    border-bottom: 3px rgba(0, 0, 0, 0.1) solid;
    overflow-y: scroll;
}

.sidebar-playlists>h2 {
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
}

.sidebar-playlist {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 10px;
}

.sidebar-playlist h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 1rem;
    white-space: nowrap;
}

.sidebar-unfinished-videos {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    overflow-y: scroll;
}

.sidebar-unfinished-videos>h2 {
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
}

.sidebar-unfinished-video {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 10px;
}

.sidebar-unfinished-video h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: .75rem;
    white-space: nowrap;
}

.sidebar-unfinished-video img {
    border: 2px solid white;
    border-radius: 3px;
}


/* ========== SIDEBAR FOOTER ========== */

.sidebar-footer {
    margin-top: auto;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
    border-top: 3px rgba(0, 0, 0, 0.1) solid;
}

.social-media {
    width: 30px;
}


/* ============================== MAIN ============================== */

main {
    padding: 100px 100px 0 100px;
}

main .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    margin-bottom: 150px;
}

.container .card {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    gap: 2vw;
    height: 40vw;
    width: 100%;
    background-color: var(--main-clr);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card-text-desktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    align-items: center;
}

.card-text-desktop h1 {
    text-align: center;
    font-size: 4vw;
    font-family: "Burbank", sans-serif;
}

.card-text-desktop p {
    text-align: center;
    font-family: "Burbank", sans-serif;
    font-size: 2.5vw;
    font-weight: 400;
}

.card-text-desktop a {
    padding: 1vw 2vw;
    width: 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
    margin-top: 20px;
    border: 2px white solid;
    border-radius: 5px;
    transition: 0.3s;
    font-family: "Burbank", sans-serif;
}

.card-text-desktop a:hover {
    background-color: white;
    color: var(--main-clr);
    transition: 0.3s;
}

.card-text-mobile {
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.card-text-mobile h1 {
    text-align: center;
    font-size: 6vw;
    font-family: "Burbank", sans-serif;
}

.card-text-mobile p {
    text-align: center;
    font-family: "Burbank", sans-serif;
    font-size: 3vw;
    font-weight: 400;
}

.card-text-mobile a {
    padding: 2vw 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    margin-top: 20px;
    border: 2px white solid;
    border-radius: 5px;
    transition: 0.3s;
    font-family: "Burbank", sans-serif;
}

.card-text-mobile a:hover {
    background-color: white;
    color: var(--main-clr);
    transition: 0.3s;
}

.card-video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%
}

.card-video img {
    border: 2px white solid;
    border-radius: 5px;
    width: 30vw;
}

@media screen and (max-width: 1000px) {
    .nav-items-div {
        display: none;
    }
    .nav-header {
        justify-content: space-between;
    }
    .get-started {
        width: 200px;
    }
    .sidebar-nav {
        display: block;
        padding: 20px;
        border-bottom: 3px rgba(0, 0, 0, 0.1) solid;
    }
    .sidebar-nav-list {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .sidebar-nav-list .item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
    }
    .sidebar-nav-list .item a {
        font-size: 1.5rem;
        color: white;
        font-weight: 900;
    }
    main .container .card {
        flex-direction: column;
        height: 60vw;
    }
    .card-video {
        width: 100%;
    }
    .card-video img {
        width: 70%;
    }
    .card .card-text-desktop {
        display: none;
    }
    .card .card-text-mobile {
        display: flex;
    }
}

@media screen and (max-width: 800px) {
    #website-intro img {
        width: 50vw;
    }
    header {
        height: 600px;
    }
    header::before {
        height: 600px;
        border-bottom-right-radius: 80px;
    }
    .get-started {
        width: 120px;
        height: 30px;
        font-size: 10px;
    }
    .get-started img {
        width: 10%;
    }
    header .content {
        height: 70%;
        padding-left: 20px;
        padding-right: 20px;
        gap: 1rem;
    }
    .header-social {
        bottom: 50px;
        right: 40px;
    }
    .header-social::before {
        margin-right: 20px;
    }
    .header-social-item {
        margin: 0 5px;
    }
    .header-social-item svg {
        width: 20px;
    }
    main .container {
        gap: 5rem;
    }
    main {
        padding: 150px 50px 50px 50px;
    }
    .logo-container {
        gap: 1rem;
    }
    .logo-container .sidebar-button {
        font-size: 1.5rem;
    }
    .logo-container .logo {
        width: 100px;
    }
    .logo-container .logo img {
        width: 100px;
    }
}