/* ============================== BASE ============================== */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face {
    font-family: 'alarm_clock';
    src: url('../Fonts/alarm_clock-webfont.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Burbank';
    src: url('../Fonts/BurbankBigRegular-Black.woff2');
    font-weight: 900;
    font-style: normal;
}

:root {
    font-size: 16px;
    --main-clr: #0B090A;
    --off-main-clr: #121011;
    --sec-clr: white;
    --off-sec-clr: #d3d3d3;
    --settings-clr: #09123C;
    --settings-item-clr: #2A2E55;
    --settings-font-clr: #97DCFE;
    --island-bg-clr: #106DDD;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Burbank", sans-serif;
    color: white;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow: overlay;
}

a {
    color: var(--off-sec-clr);
    text-decoration: none;
    transition: 0.2s;
}

a:hover {
    cursor: pointer;
    color: var(--sec-clr);
    transition: 0.2s;
}

li {
    list-style: none;
}


/* ========== WEBSITE ========== */

::-webkit-scrollbar {
    width: 25px;
}

 ::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(5, 5, 5, 0.7);
    transition: 0.2s;
    border-radius: 100vw;
    border: 7px var(--off-main-clr) solid;
}

 ::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 0, 0);
    transition: 0.2s;
}

#preloader {
    width: 100%;
    height: 100vh;
    background: var(--off-main-clr);
    text-align: center;
    z-index: 100;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    transition: 2s;
}

#website-intro {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 100vh;
    background: var(--off-main-clr);
    animation: hey 1.3s;
    animation-delay: 3.3s;
    animation-fill-mode: forwards;
    box-shadow: 3px 10px 10px black;
}

#website-intro img {
    width: 20vw;
    transition: 0.2s;
    animation: fadein 3.8s;
    animation-fill-mode: forwards;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes hey {
    0% {
        height: 100vh;
    }
    100% {
        height: 0;
    }
}


/* ============================== HEADER ============================== */

header {
    min-height: 80px;
    background-color: var(--main-clr);
    background-image: url(../Images/Wigglie\ thing.png);
    background-size: cover;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0 6px 4px -2px var(--main-clr);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .sidebar-button {
    font-size: 2rem;
    margin: 0 1.5rem;
}

.logo {
    height: 40px;
    width: 180px;
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.logo:hover {
    cursor: pointer;
}

.nav-list {
    display: flex;
    flex-direction: row;
}

.item {
    padding: 0 40px;
    font-size: 25px;
    list-style: none;
}

.item>a {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.nav-menu-button {
    display: none;
}


/* ============================== SIDEBAR ============================== */


/* ========== SIDEBAR BASE ========== */

.sidebar-button {
    cursor: pointer;
}

.sidebar {
    width: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    position: fixed;
    background-color: var(--off-main-clr);
    z-index: 5;
    overflow-x: hidden;
    transition: 0.2s;
    box-shadow: 3px 10px 10px black;
}

.lower-opacity {
    position: fixed;
    left: 0;
    width: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 4;
    transition: 0.2s;
}


/* ========== SIDEBAR HEADER ========== */

.sidebar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-bottom: 3px rgba(0, 0, 0, 0.1) solid;
}

.sidebar-header .sidebar-button {
    font-size: 2rem;
}

.sidebar-header .sidebar-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}


/* ========== SIDEBAR BODY ========== */

.sidebar-playlists {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    border-bottom: 3px rgba(0, 0, 0, 0.1) solid;
}

.sidebar-playlists>h2 {
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
}

.sidebar-playlist {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 10px;
}

.sidebar-playlist h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 1rem;
    white-space: nowrap;
}

.sidebar-unfinished-videos {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.sidebar-unfinished-videos>h2 {
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
}

.sidebar-unfinished-video {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 10px;
}

.sidebar-unfinished-video h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: .75rem;
    white-space: nowrap;
}

.sidebar-unfinished-video img {
    border: 2px solid white;
    border-radius: 3px;
}


/* ========== SIDEBAR FOOTER ========== */

.sidebar-footer {
    margin-top: auto;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
    border-top: 3px rgba(0, 0, 0, 0.1) solid;
}

.social-media {
    width: 30px;
}


/* ============================== MAIN ============================== */

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: var(--off-main-clr);
    padding: 100px 100px 0 100px;
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
}

.grid-item:first-child {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-item h1 {
    text-align: center;
    font-size: 5rem;
    margin-bottom: 10px;
}

.grid-item p {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    font-weight: 600;
}

.grid-item a {
    padding: 20px;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin-top: 20px;
    border: 2px white solid;
    border-radius: 5px;
    transition: 0.3s;
}

.grid-item a:hover {
    background-color: white;
    color: var(--off-main-clr);
    transition: 0.3s;
}

.grid-item img {
    border: 2px white solid;
    border-radius: 5px;
    width: 540px;
}

.welcome {
    border: none !important;
    width: 70vw !important;
}

@media screen and (max-width: 1100px) {
    main {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(auto, 1fr);
    }
    .grid-item {
        height: 400px;
    }
    .grid-item:nth-child(1) {
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .grid-item:nth-child(2) {
        grid-row-start: 3;
        grid-row-end: 4;
        justify-content: flex-start;
    }
    .grid-item:nth-child(3) {
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .grid-item:nth-child(4) {
        grid-row-start: 4;
        grid-row-end: 5;
    }
    .grid-item:nth-child(5) {
        grid-row-start: 5;
        grid-row-end: 6;
        justify-content: flex-start;
    }
    .grid-item:nth-child(6) {
        grid-row-start: 7;
        grid-row-end: 8;
        justify-content: flex-start;
    }
    .grid-item:nth-child(7) {
        grid-row-start: 6;
        grid-row-end: 7;
    }
}

@media screen and (max-width: 800px) {
    #website-intro img {
        width: 50vw;
    }
    .nav-items-div {
        display: none;
    }
    nav {
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }
    header .sidebar-button {
        grid-column-start: 2;
        grid-column-end: 3;
        margin-left: auto;
        margin-right: 20px;
    }
    header .logo {
        grid-row-start: 1;
        grid-row-end: 2;
    }
    main {
        padding: 10vw;
    }
    .grid-item {
        height: 200px;
    }
    .grid-item img {
        width: 270px;
    }
    .grid-item h1 {
        text-align: center;
        font-size: 9vw;
        margin-bottom: 10px;
    }
    .grid-item p {
        text-align: center;
        font-family: "Montserrat", sans-serif;
        font-size: 4vw;
        font-weight: 600;
    }
    .grid-item a {
        width: 100px;
        height: 50px;
        font-size: 1rem;
    }
}