/* ==================== BASE ==================== */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face {
    font-family: 'alarm_clock';
    src: url('../Fonts/alarm_clock-webfont.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Burbank';
    src: url('../Fonts/BurbankBigRegular-Black.woff2');
    font-weight: 900;
    font-style: normal;
}

:root {
    font-size: 16px;
    --main-clr: #0B090A;
    --off-main-clr: #121011;
    --sec-clr: white;
    --off-sec-clr: #d3d3d3;
    --settings-clr: #09123C;
    --settings-item-clr: #2A2E55;
    --settings-font-clr: #97DCFE;
    --island-bg-clr: #106DDD;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Burbank", sans-serif;
    color: white;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow: overlay;
}

a {
    color: var(--off-sec-clr);
    text-decoration: none;
    transition: 0.2s;
}

a:hover {
    cursor: pointer;
    color: var(--sec-clr);
    transition: 0.2s;
}

li {
    list-style: none;
}


/* ==================== WEBSITE ==================== */

::-webkit-scrollbar {
    width: 25px;
}

 ::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(5, 5, 5, 0.7);
    transition: 0.2s;
    border-radius: 100vw;
    border: 7px var(--off-main-clr) solid;
}

 ::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 0, 0);
    transition: 0.2s;
}

#preloader {
    width: 100%;
    height: 100vh;
    background: var(--off-main-clr);
    text-align: center;
    z-index: 100;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    transition: 2s;
}


/* ============================== HEADER ============================== */

header {
    min-height: 80px;
    background-color: var(--main-clr);
    background-image: url(../Images/Wigglie\ thing.png);
    background-size: cover;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 3;
    box-shadow: 0 6px 4px -2px var(--main-clr);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .sidebar-button {
    font-size: 2rem;
    margin: 0 1.5rem;
}

.logo {
    height: 40px;
    width: 180px;
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.logo:hover {
    cursor: pointer;
}

.nav-list {
    display: flex;
    flex-direction: row;
}

.item {
    padding: 0 40px;
    font-size: 25px;
    list-style: none;
}

.item>a {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.nav-menu-button {
    display: none;
}


/* ============================== SIDEBAR ============================== */


/* ========== SIDEBAR BASE ========== */

.sidebar-button {
    cursor: pointer;
}

.sidebar {
    width: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    position: fixed;
    background-color: var(--off-main-clr);
    z-index: 5;
    overflow-x: hidden;
    transition: 0.2s;
    box-shadow: 3px 10px 10px black;
}

.lower-opacity {
    position: fixed;
    left: 0;
    width: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
}


/* ========== SIDEBAR HEADER ========== */

.sidebar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-bottom: 3px rgba(0, 0, 0, 0.1) solid;
}

.sidebar-header .sidebar-button {
    font-size: 2rem;
}

.sidebar-header .sidebar-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}


/* ========== SIDEBAR BODY ========== */

.sidebar-playlists {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    border-bottom: 3px rgba(0, 0, 0, 0.1) solid;
}

.sidebar-playlists>h2 {
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
}

.sidebar-playlist {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 10px;
}

.sidebar-playlist h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 1rem;
}

.sidebar-unfinished-videos {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.sidebar-unfinished-videos>h2 {
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
}

.sidebar-unfinished-video {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 10px;
}

.sidebar-unfinished-video h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: .75rem;
}

.sidebar-unfinished-video img {
    border: 2px solid white;
    border-radius: 3px;
}


/* ========== SIDEBAR FOOTER ========== */

.sidebar-footer {
    margin-top: auto;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
    border-top: 3px rgba(0, 0, 0, 0.1) solid;
}

.social-media {
    width: 30px;
}


/* ========== MAIN ========== */

main {
    background-color: var(--off-main-clr);
}


/* ===== DEVICES SECTION ===== */

.devices-sec1 {
    height: 230px;
    padding: 20px;
    position: relative;
    background-color: var(--main-clr);
}

.devices-sec2 {
    height: 230px;
    padding: 20px;
    background-color: var(--off-main-clr);
}

.sec-devices {
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.TRIGGER {
    height: 120px;
    width: 125px;
    background-image: url(/Devices/trigger.png);
    background-size: cover;
    cursor: pointer;
    color: rgb(138, 138, 229);
    font-size: 1.2rem;
    padding: 10px 0 0 40px;
    letter-spacing: -0.10rem;
    font-family: 'alarm_clock';
    z-index: 1;
}

.TRACKER {
    height: 120px;
    width: 125px;
    background-image: url(/Devices/);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.MUTATOR-ZONE {
    height: 120px;
    width: 120px;
    background-image: url(/Devices/mutator.png);
    background-size: cover;
    cursor: pointer;
    color: rgb(138, 138, 229);
    font-size: 1.2rem;
    padding: 10px 0 0 40px;
    letter-spacing: -0.10rem;
    font-family: 'alarm_clock';
}

.SEQUENCER {
    height: 120px;
    width: 120px;
    background-image: url(/Devices/sequencer.png);
    background-size: cover;
    cursor: pointer;
    color: rgb(138, 138, 229);
    font-size: 1.2rem;
    position: relative;
}

.SCORE-MANAGER {
    height: 120px;
    width: 120px;
    background-image: url(/Devices/score.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    color: rgb(138, 138, 229);
    font-size: 1.2rem;
    padding: 10px 0 0 40px;
    letter-spacing: -0.10rem;
    font-family: 'alarm_clock';
}

.HUD-MESSAGE-DEVICE {
    height: 120px;
    width: 120px;
    background-image: url(/Devices/);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    color: rgb(138, 138, 229);
    font-size: 1.2rem;
    padding: 10px 0 0 40px;
    letter-spacing: -0.10rem;
    font-family: 'alarm_clock';
}

.TEAM-SETTINGS {
    height: 125px;
    width: 125px;
    background-image: url(/Devices/team.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    color: rgb(138, 138, 229);
    font-size: 1.2rem;
    padding: 10px 0 0 40px;
    letter-spacing: -0.10rem;
    font-family: 'alarm_clock';
}

.HEALTH-POWERUP {
    height: 125px;
    width: 125px;
    background-image: url(/Devices/health_powerup.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    color: rgb(138, 138, 229);
    font-size: 1.2rem;
    padding: 10px 0 0 40px;
    letter-spacing: -0.10rem;
    font-family: 'alarm_clock';
}

.PLAYER-SPAWN-PAD {
    height: 125px;
    width: 125px;
    background-image: url(/Devices/player_spawn_pad.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    color: rgb(138, 138, 229);
    font-size: 1.2rem;
    padding: 10px 0 0 40px;
    letter-spacing: -0.10rem;
    font-family: 'alarm_clock';
}

.marked-as-done {
    opacity: 0.2;
}


/* ===== DEVICE SETTINGS POP-UP ===== */

section.settings {
    overflow: visible;
    width: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 80px;
    height: calc(100vh - 80px);
    overflow-y: hidden;
    padding: 0;
    background-color: var(--settings-clr);
    z-index: 3;
    transition: 0.3s;
}

.settings-title {
    padding: 40px;
    padding-right: 10%;
    display: flex;
    align-items: center;
    height: 160px;
    background-color: var(--island-bg-clr);
}

.settings-title h2 {
    font-size: 200%;
    flex-grow: 1;
}

.device-name {
    font-size: 130%;
    margin-left: auto;
    background-color: #00AAFF;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
    transform: rotate(-0.5deg);
    white-space: nowrap;
}

.settings .settings-list {
    position: relative;
    flex-grow: 1;
}

.settings .settings-list .item {
    display: flex;
    align-items: center;
    margin: 10px 20px 0 20px;
    background-color: var(--settings-item-clr);
    display: flex;
    padding: 15px 30px 15px 20px;
}

.settings .settings-list .item h2 {
    color: var(--settings-font-clr);
    font-size: 75%;
}

.settings .settings-list .item>span {
    font-size: 75%;
    margin-left: auto;
    color: white;
}

.ad-slot3 {
    display: none;
}

.settings-buttons {
    position: relative;
    display: flex;
    padding: 20px;
}

.settings-buttons .gear-btn {
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #054AA5;
    color: #83C7F1;
    width: 100px;
    padding: 5px 0;
    border: rgba(19, 115, 215, 0.4) 5px solid;
    cursor: pointer;
}

.settings-buttons .gear-btn>* {
    font-size: 2.5rem;
}

.settings-buttons .ok-btn {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: gold;
    color: black;
    width: 100px;
    padding: 5px 0;
    border: rgba(255, 215, 150, 0.8) 3px solid;
    cursor: pointer;
    margin-right: 7px;
}

.settings-buttons .cancel-btn {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #054AA5;
    color: white;
    width: 100px;
    padding: 5px 0;
    border: rgba(19, 115, 215, 0.4) 5px solid;
    cursor: pointer;
    margin-left: 7px;
}

.gear-popup {
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    height: 20%;
    width: 255px;
    position: absolute;
    bottom: 100px;
    left: 20px;
    background-color: #054AA5;
    border: rgba(19, 115, 215, 0.4) 5px solid;
}

.gear-popup a {
    padding: 15px 20px;
    width: 80%;
    border: rgba(19, 115, 215, 0.4) 5px solid;
    text-align: center;
    cursor: pointer;
}


/* ===== ISLAND SETTINGS SECTION ===== */

.island-settings {
    background-color: var(--settings-clr);
    padding: 20px;
    border-top: 2px white solid;
}

.island-settings .tab {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    margin-bottom: 40px;
}

.island-settings .tab>div {
    display: flex;
    background-color: var(--settings-item-clr);
    padding: 10px 20px;
    justify-content: space-between;
}

.island-settings .tab h2 {
    background-color: var(--island-bg-clr);
    padding: 10px;
    font-size: 2rem;
    margin-bottom: 10px;
}

.island-settings .tab h3 {
    color: var(--settings-font-clr);
    font-size: 1.3rem;
}

.island-settings .tab span {
    color: white;
    font-size: 1.3rem;
}


/* ========== RESPONSIVE DESIGN ========== */

@media screen and (max-width: 900px) {
    .nav-items-div {
        display: none;
    }
    .settings .items .item h2 {
        font-size: 70%;
    }
    .settings .items .item>span {
        font-size: 70%;
    }
    .settings-buttons .gear-btn {
        width: 75px;
    }
    .settings-buttons .gear-btn>* {
        font-size: 1.25rem;
    }
    .settings-buttons .ok-btn {
        font-size: 1rem;
        width: 75px;
    }
    .settings-buttons .cancel-btn {
        font-size: .75rem;
        width: 75px;
    }
    .gear-popup {
        display: none;
        flex-direction: column;
        justify-content: center;
        gap: .5rem;
        align-items: center;
        height: 125px;
        width: 175px;
        position: absolute;
        bottom: 80px !important;
        left: 20px;
        background-color: #054AA5;
        border: rgba(19, 115, 215, 0.4) 5px solid;
    }
    .gear-popup a {
        padding: 7.5px 10px;
        width: 80%;
        border: rgba(19, 115, 215, 0.4) 5px solid;
        text-align: center;
        cursor: pointer;
    }
    .gear-popup h3 {
        font-size: 1rem;
    }
}