/* ==================== BASE ==================== */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
    font-size: 16px;
    --main-clr: #0B090A;
    --off-main-clr: #121011;
    --sec-clr: white;
    --off-sec-clr: #d3d3d3;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Montserrat";
    font-weight: bold;
    color: white;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow: overlay;
}

a {
    color: var(--off-sec-clr);
    text-decoration: none;
    transition: 0.2s;
}

a:hover {
    cursor: pointer;
    color: var(--sec-clr);
    transition: 0.2s;
}

li {
    list-style: none;
}


/* ==================== WEBSITE ==================== */

::-webkit-scrollbar {
    width: 25px;
}

 ::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(5, 5, 5, 0.7);
    transition: 0.2s;
    border-radius: 100vw;
    border: 7px var(--off-main-clr) solid;
}

 ::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 0, 0);
    transition: 0.2s;
}

#preloader {
    width: 100%;
    height: 100vh;
    background: var(--off-main-clr);
    text-align: center;
    z-index: 100;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-family: "Montserrat";
    font-weight: 900;
    text-transform: uppercase;
    transition: 2s;
}


/* ========== HEADER ========== */

header {
    min-height: 80px;
    background-color: var(--main-clr);
    background-image: url(../Images/Wigglie\ thing.png);
    background-size: cover;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0 6px 4px -2px var(--main-clr);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .sidebar-button {
    font-size: 2rem;
    margin: 0 1.5rem;
}

.logo {
    height: 40px;
    width: 240px;
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.logo:hover {
    cursor: pointer;
}

.nav-list {
    display: flex;
    flex-direction: row;
}

.item {
    padding: 0 40px;
    font-size: 25px;
    list-style: none;
}

.item>a {
    font-family: 'Montserrat';
    font-weight: bold;
}

.nav-menu-button {
    display: none;
}


/* ========== PAGE ========== */

.page {
    display: flex;
    flex-direction: row;
}


/* ============================== SIDEBAR ============================== */


/* ========== SIDEBAR BASE ========== */

.sidebar-button {
    cursor: pointer;
}

.sidebar {
    width: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    position: fixed;
    background-color: var(--off-main-clr);
    z-index: 5;
    overflow-x: hidden;
    transition: 0.2s;
    box-shadow: 3px 10px 10px black;
}

.lower-opacity {
    position: fixed;
    left: 0;
    width: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 4;
    transition: 0.2s;
}


/* ========== SIDEBAR HEADER ========== */

.sidebar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-bottom: 3px rgba(0, 0, 0, 0.1) solid;
}

.sidebar-header .sidebar-button {
    font-size: 2rem;
}

.sidebar-header .sidebar-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}


/* ========== SIDEBAR BODY ========== */

.sidebar-playlists {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    border-bottom: 3px rgba(0, 0, 0, 0.1) solid;
}

.sidebar-playlists>h2 {
    font-size: 2rem;
    font-family: "Montserrat";
    font-weight: 900;
}

.sidebar-playlist {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 10px;
}

.sidebar-playlist h3 {
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 1rem;
}

.sidebar-unfinished-videos {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.sidebar-unfinished-videos>h2 {
    font-size: 2rem;
    font-family: "Montserrat";
    font-weight: 900;
}

.sidebar-unfinished-video {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 10px;
}

.sidebar-unfinished-video h3 {
    font-family: "Montserrat";
    font-weight: 900;
    font-size: .75rem;
}

.sidebar-unfinished-video img {
    border: 2px solid white;
    border-radius: 3px;
}


/* ========== SIDEBAR FOOTER ========== */

.sidebar-footer {
    margin-top: auto;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
    border-top: 3px rgba(0, 0, 0, 0.1) solid;
}

.social-media {
    width: 30px;
}


/* ========== MAIN ========== */

main {
    background-color: var(--off-main-clr);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.ad-desktop1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.ad-mobile1 {
    display: none;
}

.extra {
    background-color: red;
}

.page-title {
    padding: 20px 0 0 33px;
    font-size: 3rem;
}

.videos-grid {
    margin: 0 20px;
    padding: 30px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(5, 216px);
    grid-auto-rows: 1fr;
}

.video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-direction: column;
}

.video-thumbnail {
    border: var(--sec-clr) 3px solid;
    border-radius: 2px;
}

.video-thumbnail:hover {
    cursor: pointer;
}

.video-title {
    text-align: left;
    font-weight: 600;
    margin-top: 15px;
}

.video-title:hover {
    cursor: pointer;
}


/* ========== RESPONSIVE DESIGN ========== */

@media screen and (max-width: 1695px) {
    .videos-grid {
        grid-template-columns: repeat(4, 216px);
    }
}

@media screen and (max-width: 1455px) {
    .videos-grid {
        grid-template-columns: repeat(3, 216px);
    }
}

@media screen and (max-width: 1065px) {
    .videos-grid {
        grid-template-columns: repeat(2, 216px);
    }
}

@media screen and (max-width: 800px) {
    main {
        grid-template-columns: repeat(3, 1fr);
    }
    .page-title {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 0;
    }
    .videos-grid {
        display: flex;
        flex-direction: column;
        width: 216px;
        padding: 0;
    }
    .nav-items-div {
        display: none;
    }
    nav {
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }
    header .sidebar-button {
        grid-column-start: 2;
        grid-column-end: 3;
        margin-left: auto;
        margin-right: 20px;
    }
    header .logo {
        grid-row-start: 1;
        grid-row-end: 2;
    }
}

@media screen and (max-width: 500px) {
    main {
        grid-template-columns: repeat(1, 1fr);
    }
    .ad-desktop1 {
        display: none;
    }
    .ad-mobile1 {
        display: block;
    }
}