/* ==================== BASE ==================== */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face {
    font-family: 'alarm_clock';
    src: url('./Fonts/alarm_clock-webfont.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Burbank';
    src: url('./Fonts/BurbankBigRegular-Black.woff2');
    font-weight: 900;
    font-style: normal;
}

:root {
    font-size: 16px;
    --main-clr: #0B090A;
    --off-main-clr: #121011;
    --sec-clr: white;
    --off-sec-clr: #d3d3d3;
    --settings-clr: #09123C;
    --settings-item-clr: #2A2E55;
    --settings-font-clr: #97DCFE;
    --island-bg-clr: #106DDD;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Burbank";
    color: white;
}

html {
    scroll-behavior: smooth;
}

a {
    color: var(--off-sec-clr);
    text-decoration: none;
    transition: 0.2s;
}

a:hover {
    cursor: pointer;
    color: var(--sec-clr);
    transition: 0.2s;
}

li {
    list-style: none;
}


/* ==================== WEBSITE ==================== */


/* ========== HEADER ========== */

header {
    min-height: 80px;
    background-color: var(--main-clr);
    background-image: url(./Images/Wigglie\ thing.png);
    background-size: cover;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0 6px 4px -2px var(--main-clr);
}

.social-media {
    width: 25px;
    margin: 5px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 40px;
    width: 240px;
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.logo:hover {
    cursor: pointer;
}

.nav-list {
    display: flex;
    flex-direction: row;
}

.item {
    padding: 0 40px;
    font-size: 25px;
    list-style: none;
}

.item>a {
    font-family: 'Montserrat';
    font-weight: bold;
}

.nav-menu-button {
    display: none;
}


/* ========== MAIN ========== */

main {
    background-color: var(--off-main-clr);
}


/* ===== DEVICES SECTION ===== */

.devices-sec1 {
    height: 230px;
    padding: 20px;
    position: relative;
    background-color: var(--main-clr);
}

.devices-sec2 {
    height: 230px;
    padding: 20px;
    background-color: var(--off-main-clr);
}

.sec-devices {
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.TRIGGER {
    height: 120px;
    width: 125px;
    background-image: url(./Devices/trigger.png);
    background-size: cover;
    cursor: pointer;
    color: rgb(138, 138, 229);
    font-size: 1.2rem;
    padding: 10px 0 0 40px;
    letter-spacing: -0.10rem;
    font-family: 'alarm_clock';
}

.TRACKER {
    height: 120px;
    width: 125px;
    background-image: url(./Devices/tracker.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.MUTATOR-ZONE {
    height: 120px;
    width: 120px;
    background-image: url(./Devices/mutator.png);
    background-size: cover;
    cursor: pointer;
    color: rgb(138, 138, 229);
    font-size: 1.2rem;
    padding: 10px 0 0 40px;
    letter-spacing: -0.10rem;
    font-family: 'alarm_clock';
}

.SEQUENCER {
    height: 120px;
    width: 120px;
    background-image: url(./Devices/sequencer.png);
    background-size: cover;
    cursor: pointer;
    color: rgb(138, 138, 229);
    font-size: 1.2rem;
    position: relative;
}

.SCORE-MANAGER {
    height: 120px;
    width: 120px;
    background-image: url(./Devices/score.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    color: rgb(138, 138, 229);
    font-size: 1.2rem;
    padding: 10px 0 0 40px;
    letter-spacing: -0.10rem;
    font-family: 'alarm_clock';
}

.HUD-MESSAGE-DEVICE {
    height: 120px;
    width: 120px;
    background-image: url(./Devices/hud.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    color: rgb(138, 138, 229);
    font-size: 1.2rem;
    padding: 10px 0 0 40px;
    letter-spacing: -0.10rem;
    font-family: 'alarm_clock';
}

.TEAM-SETTINGS {
    height: 125px;
    width: 125px;
    background-image: url(./Devices/team.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    color: rgb(138, 138, 229);
    font-size: 1.2rem;
    padding: 10px 0 0 40px;
    letter-spacing: -0.10rem;
    font-family: 'alarm_clock';
}

.active {
    filter: drop-shadow(2px 2px 5px rgba(31, 53, 255, 0.95)) drop-shadow(-2px -2px 5px rgba(31, 53, 255, 0.95));
}


/* ===== DEVICE SETTINGS POP-UP ===== */

section.settings {
    overflow: visible;
    width: 0;
    position: fixed;
    left: 0;
    top: 80px;
    height: 100vh;
    overflow-y: hidden;
    padding: 0;
    background-color: var(--settings-clr);
}

.settings-title {
    padding: 40px;
    padding-right: 80px;
    display: flex;
    align-items: center;
    height: 160px;
    background-color: var(--island-bg-clr);
}

.settings-title h2 {
    font-size: 3rem;
    flex-grow: 1;
}

.device-name {
    font-size: 2rem;
    margin-left: auto;
    background-color: #00AAFF;
    padding-left: 35px;
    padding-right: 35px;
}

.settings .items {
    padding-top: 10px;
    padding: 10px 20px 20px 20px;
}

.settings .items .item {
    background-color: var(--settings-item-clr);
    display: flex;
    padding: 10px 30px 10px 30px;
    margin-bottom: 0.2rem;
}

.settings .items .item h2 {
    color: var(--settings-font-clr);
    font-size: 1.5rem;
}

.settings .items .item>span {
    margin-left: auto;
    color: white;
}


/* ===== ISLAND SETTINGS SECTION ===== */

.island-settings {
    background-color: var(--settings-clr);
    padding: 20px;
    border-top: 2px white solid;
}

.island-settings .tab {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    margin-bottom: 40px;
}

.island-settings>:last-child {
    margin-bottom: 0;
}

.island-settings .tab h2 {
    background-color: var(--island-bg-clr);
    padding: 10px;
    font-size: 2rem;
    margin-bottom: 10px;
}

.island-settings .tab h3 {
    background-color: var(--settings-item-clr);
    padding: 10px;
    color: var(--settings-font-clr);
    font-size: 1.3rem;
}


/* ========== RESPONSIVE DESIGN ========== */

@media screen and (max-width: 1695px) {}

@media screen and (max-width: 1455px) {}

@media screen and (max-width: 1065px) {}

@media screen and (max-width: 800px) {
    header {
        display: flex;
        align-items: center;
        box-shadow: 0 6px 4px -2px var(--main-clr);
    }
    .nav {
        width: 100%;
    }
    .logo {
        flex-grow: 1;
        height: 45px;
        width: 135px;
    }
    .logo>a>img {
        height: 45px;
        width: 135px;
    }
    .nav-list {
        display: none;
    }
    .nav-menu-button {
        display: flex;
        font-size: 2rem;
        padding-right: 20px;
    }
    .nav-menu-button:hover {
        cursor: pointer;
    }
    ion-icon {
        align-items: center;
        justify-content: center;
    }
    .nav-menu {
        position: fixed;
        height: 0;
        width: 150px;
        background-color: var(--main-clr);
        top: 80px;
        right: 20px;
        padding: 0;
        z-index: 2;
        overflow-x: hidden;
        box-shadow: none;
        border-radius: 4px;
        transition: 0.5s;
        overflow-y: hidden;
    }
    .nav-menu .item {
        padding: 10px 0;
        text-align: center;
        font-size: 1rem;
    }
}